In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('ITM01.20241007T201037.csv')
print(df)

                                 Statistic Label         Month  \
0        Number of Passengers Departing Overseas  2023 January
1        Number of Passengers Departing Overseas  2023 January
2        Number of Passengers Departing Overseas  2023 January
3        Number of Passengers Departing Overseas  2023 January
4        Number of Passengers Departing Overseas  2023 January
..                                           ...           ...
235  Percentage of Passengers Departing Overseas   2024 August
236  Percentage of Passengers Departing Overseas   2024 August
237  Percentage of Passengers Departing Overseas   2024 August
238  Percentage of Passengers Departing Overseas   2024 August
239  Percentage of Passengers Departing Overseas   2024 August

                     Passenger Category      UNIT  VALUE
0                        Outbound Irish  Thousand  715.1
1      Same Day Visitor: Northern Irish  Thousand   49.8
2            Same Day Visitor: Transfer  Thousand   47.6
3               Same Day Visitor: Other  Thousand   17.3
4    Overnight Foreign Resident Visitor  Thousand  400.0
..                                  ...       ...    ...
235    Same Day Visitor: Northern Irish         %    4.0
236          Same Day Visitor: Transfer         %    4.8
237             Same Day Visitor: Other         %    1.1
238  Overnight Foreign Resident Visitor         %   33.1
239            All Passenger Categories         %  100.0

[240 rows x 5 columns]

In [7]:
df.head()

,Statistic Label,Month,Passenger Category,UNIT,VALUE
0,Number of Passengers Departing Overseas,2023 January,Outbound Irish,Thousand,715.1
1,Number of Passengers Departing Overseas,2023 January,Same Day Visitor: Northern Irish,Thousand,49.8
2,Number of Passengers Departing Overseas,2023 January,Same Day Visitor: Transfer,Thousand,47.6
3,Number of Passengers Departing Overseas,2023 January,Same Day Visitor: Other,Thousand,17.3
4,Number of Passengers Departing Overseas,2023 January,Overnight Foreign Resident Visitor,Thousand,400.0